
.idea/inspectionProfiles/profiles_settings.xml
.idea/MCS-PluginInfoAPI.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
MCS_PluginInfoAPI/__pycache__/urls.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/settings.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/urls.cpython-311.pyc
PluginCheck/__pycache__/views.cpython-311.pyc
PluginCheck/__pycache__/urls.cpython-311.pyc
PluginCheck/__pycache__/database.cpython-311.pyc
PluginCheck/__pycache__/__init__.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/urls.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/settings.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/urls.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/settings.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/settings.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/urls.cpython-311.pyc
MCS_PluginInfoAPI/__pycache__/settings.cpython-311.pyc
